@font-face {
    font-family: "iconfont"; /* Project id 3168482 */
    src: url('//at.alicdn.com/t/font_3168482_tzsxt7kzlk.woff2?t=1643888030162') format('woff2'),
         url('//at.alicdn.com/t/font_3168482_tzsxt7kzlk.woff?t=1643888030162') format('woff'),
         url('//at.alicdn.com/t/font_3168482_tzsxt7kzlk.ttf?t=1643888030162') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-s1:before {
    content: "\e64d";
  }
  